.appointment
{
    position:left; /* Positioned relative */
    display: inline-block; /* Inline level block container */
}

.appointment-toggle
{
    border: 1px solid #ccc;
    padding: 16px 30px;
    cursor: pointer;
    width: auto;
}

.appointment-menu
{
    top: 75%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    list-style: none; /* Removes bullet points */
    padding: 0;
}

.appointment-menu li
{
    padding: 8px 14px; /* Padding top/bottom 8/14px.*/
    cursor: pointer; /* Cursor is a pointer on hover */
}

.appointment-menu :hover
{
    background-color: #3988d7b5; /* hover colour */
}

.modal-custom {

    z-index: 9999; /* Highest stacking value*/
    pointer-events: auto; 
}

.closeButton 
{
    margin-top: 20px; /* 20 px padding from top*/
}

