.appointment
{
    position: relative;
    display: inline-block;
}

.appointment-toggle
{
    border: 1px solid #ccc;
    padding: 16px 30px;
    cursor: pointer;
    width: auto;
}

.appointment-menu
{
    top: 75%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
}

.appointment-menu li
{
    padding: 8px 14px;
    cursor: pointer;
}

.appointment-menu :hover
{
    background-color: #f643f4;
}

.modal-custom {

    z-index: 9999;
    pointer-events: auto;
    width: 10% !important;
    max-width: 800px !important;
    height: 70% !important;
    max-height: 500px !important;
}
