.appointment
{
    position: relative; /* Positioned relative */
    display: inline-block; /* Inline level block container */
}

.appointment-toggle
{
<<<<<<< HEAD:src/CSS_files/Appointment.css
    border: 1px solid #ccc;
=======
    background: #fff; /* Background colour of toggle button is white */
    border: 1px solid #ccc; /* Border is 1px and of #ccc colour */
>>>>>>> main:src/CSS files/Appointment.css
    padding: 16px 30px;
    cursor: pointer;
    width: auto;
}

.appointment-menu
{
<<<<<<< HEAD:src/CSS_files/Appointment.css
    top: 75%;
=======
    position: absolute; /* Positioned absoloute with class */
    top: 75%; /* Positioned 75% from top */
>>>>>>> main:src/CSS files/Appointment.css
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    list-style: none; /* Removes bullet points */
    padding: 0;
}

.appointment-menu li
{
    padding: 8px 14px; /* Padding top/bottom 8/14px.*/
    cursor: pointer; /* Cursor is a pointer on hover */
}

.appointment-menu :hover
{
    background-color: #f643f4; /* hover colour */
}

.modal-custom {

    z-index: 9999; /* Highest stacking value*/
    pointer-events: auto; 
}

.closeButton 
{
    margin-top: 20px; /* 20 px padding from top*/
}

