.editModal {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 60%;
    max-width: 400; 
    background-color: #fff; 
    padding: 20; 
    border-radius: 8;
    padding: 20px;   
}

.editButton {
    float: right;
}

.newTitleText {
    float: left;
}

.newDescText {
    float: left;
}